<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SAPUI5 Navigation</title>
    <script src="/app/config.js"></script>
    <script id="sap-ui-bootstrap"
            src="https://res.hmisp.com.vn/sapui/1.69.0/sap-ui-core.js"
            data-sap-ui-theme="sap_fiori_3"
            data-sap-ui-libs="sap.m"
            data-sap-ui-language="vi"
            data-sap-ui-bindingSyntax="complex"
            data-sap-ui-compatVersion="edge"
            data-sap-ui-frameOptions="trusted"
            data-sap-ui-oninit="module:sap/ui/core/ComponentSupport"
            data-sap-ui-resourceroots='{
					"app": "/app"
				}'>
    </script>

</head>
<body class="sapUiBody" id="content">
    <div data-sap-ui-component data-name="app" data-id="layoutContainer"></div>
</body>
</html>
